{% block consulta %}
<div class="modal-header">
    <h5 class="modal-title" id="modalRequestLabel">Realiza tu consulta</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form action="#">
        <div class="form-group">
            <!-- <label for="appointment_name" class="text-black">Full Name</label> -->
            <input type="text" class="form-control" id="appointment_name" placeholder="Nombre y Apellido">
        </div>
        <div class="form-group">
            <!-- <label for="appointment_email" class="text-black">Email</label> -->
            <input type="text" class="form-control" id="appointment_email" placeholder="Email">
        </div>

        <div class="form-group">
            <!-- <label for="appointment_message" class="text-black">Message</label> -->
            <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10"
                placeholder="Message"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Enviar" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}