{% extends 'core/base.html' %}
{% load staticfiles %}
{% block content %}

<section class="home-slider owl-carousel">
  <div class="slider-item bread-item" style="background-image: url('{% static 'core/images/bg_1.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container" data-scrollax-parent="true">
      <div class="row slider-text align-items-end">
        <div class="col-md-7 col-sm-12 ftco-animate mb-5">
          <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Our Service Keeps you Smile</h1>
        </div>
      </div>
    </div>
  </div>
</section>
		
<section class="container ftco-section">
    <div class="row row-cols-1 row-cols-md-3">
        {% for i in servicio %}
        <div class="col mb-4">
            <div class="card h-100">
            <img src="{{i.ruta_imagen.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{i.nombre}}</h5>
                <p class="card-text">{{i.descripcion}}</p>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}