{% extends 'core/base.html' %}
{% load staticfiles %}
{% block content %}
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('{% static 'core/images/odontologia.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">
                <div class="col-md-6 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Eslogan de la
                        clinica</h1>
                    <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Descripcion breve
                    </p>
                    <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="{% url 'turnos' %}"
                            class="btn btn-primary px-4 py-3">Solicita un turno</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image: url('{% static 'core/images/odontologia.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">
                <div class="col-md-6 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Otro Eslogan...
                    </h1>
                    <p class="mb-4">Otra descripcion</p>
                    <p><a href="{% url 'turnos' %}" class="btn btn-primary px-4 py-3">Solicita un turno</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}